<div class="grid grid-cols-1 gap-6">
  <div *ngFor="let salle of salles" class="bg-white rounded-lg shadow-md p-6 grid grid-cols-3 gap-6">
    <img [src]="salle.image" alt="Salle" class="h-40 col-span-1 object-cover mb-4">
    <div class="col-span-2">
      <h2 class="text-lg font-bold">{{ salle.nom }}</h2>
      <p class="text-gray-600">{{ salle.description }}</p>
      <ul class="mt-4">
        <li *ngFor="let equipement of salle.equipements" class="text-gray-600">
          {{ equipement }}
        </li>
      </ul>
      <p class="text-gray-600 mt-4">Places : {{ salle.places }}</p>
      <p class="text-gray-600">Statut : {{ salle.statut }}</p>
      <button class="bg-blue-500 text-white px-4 py-2 rounded-md mt-6">
        En savoir plus
      </button>
    </div>
  </div>
</div>
