<nav class="bg-gray-200">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex-shrink-0 flex items-center">
        <h1 class="text-lg font-bold">RoomBooking</h1>
      </div>
      <div class="flex items-center">
        <div class="hidden md:block">
          <a class="ml-4 text-gray-600 hover:text-gray-900" routerLink="/">Accueil</a>
          <a class="ml-4 text-gray-600 hover:text-gray-900" routerLink="/roomlist">Listes des salles</a>
          <a class="ml-4 text-gray-600 hover:text-gray-900" routerLink="/login">Connexion</a>
        </div>
      </div>
      <div class="-mr-2 flex md:hidden">
        <button (click)="toggleMobileMenu()" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-600 hover:text-gray-900 focus:outline-none">
          <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="showMobileMenu" class="md:hidden">
    <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
      <a class="block px-3 py-2 rounded-md text-base font-medium text-gray-600 hover:text-gray-900 hover:bg-gray-100" routerLink="/">Accueil</a>
      <a class="block px-3 py-2 rounded-md text-base font-medium text-gray-600 hover:text-gray-900 hover:bg-gray-100" routerLink="/roomlist">Listes des salles</a>
      <a class="block px-3 py-2 rounded-md text-base font-medium text-gray-600 hover:text-gray-900 hover:bg-gray-100" routerLink="/login">Connexion</a>
    </div>
  </div>
</nav>
